/*====== Admin Panel Navbar ======*/
.content-nav ul{
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 30px;
  color: var(--font-black);
  font-weight: var(--semiBold);
}

.content-nav ul li a{
  text-decoration: none;
  color: var(--font-black);
}

.content-nav ul li a:hover{
  text-decoration: none;
  color: var(--font-merah);
}

.content-nav ul li a:focus{
  text-decoration: none;
  color: var(--font-merah);
}

/*====== Admin Panel Content ======*/
.admin-panel-content {
  width: 80%;
  margin-top: 50px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-content label{
  margin-top: 10px;
}


/* Table */
.table tr, td, th{
  border: 1px solid black;
  box-sizing: border-box;
}

.table th{
  font-weight: var(--bold);
  padding: 10px;
}

.table td {
  padding: 10px 15px;
}

.table-button {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 5px;
  height: 100px;
  box-sizing: border-box;
  border: none;
}

.table-button Button {
  margin: auto;
}

.table-button .button-edit {
  background-color: rgb(57, 231, 57);
  border: 1px solid rgb(57, 231, 57);
}

.table-button .button-edit:hover {
  background-color: lightgreen;
  border: 1px solid lightgreen;
}

.table-button .button-delete {
  background-color: rgb(233, 66, 66);
  border: 1px solid rgb(233, 66, 66);
}

.table-button .button-delete:hover {
  background-color: lightcoral;
  border: 1px solid lightcoral;
}

.button-add Button{
  margin-bottom: 50px;
}

/* ====== Gambar Bumbu ====== */
.gambar-bumbu{
  width: 250px;
  height: 250px;
}

.gambar-potong{
  width: 250px;
  height: 250px;
}

/* ====== Button ====== */
.form-button {
  display: flex;
  margin-bottom: 50px;
}

.button-cancel Button {
  background-color: rgb(235, 71, 71);
  border: 1px solid rgb(235, 71, 71);
}

.button-cancel Button:hover {
  background-color: lightcoral;
  border: 1px solid lightcoral;
}
