/*====== Admin Panel Navbar ======*/
.content-nav ul{
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 30px;
  color: var(--font-black);
  font-weight: var(--semiBold);
}

.content-nav ul li a{
  text-decoration: none;
  color: var(--font-black);
}

.content-nav ul li a:hover{
  text-decoration: none;
  color: var(--font-merah);
}

.content-nav ul li a:focus{
  text-decoration: none;
  color: var(--font-merah);
}

/*====== Admin Panel Content ======*/
.admin-panel-content {
  width: 80%;
  margin-top: 50px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-content label{
  margin-top: 15px;
}