/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================ Style ==================- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --font-putih: #FFFBFD;
  --font-black: #000;
  --font-merah: #9D2330;

  --thin      : 100;
  --extraLight: 200;
  --light     : 300;
  --regular   : 400;
  --medium    : 500;
  --semiBold  : 600;
  --bold      : 700;
  --extraBold : 800;
}

html {
  background: #ddd;
  font-family: 'Montserrat', sans-serif;
}



/* ================ Container ================== */
.container {
  display: grid;
  justify-content: center;
  align-content: center;
}

.header {
  width: 1025px;
  height: 379px;
  background: url("image/hero-image.jpg");
  background-position: center;
  margin-top: 30px;
  display: grid;
  grid-template-areas: 
  "logo"
  "navbar";
  grid-template-rows: 1fr 1fr 0.2fr;
  justify-items: center;
}

.logo {
  width: 282.72px;
  height: 233px;
  grid-area: logo;
  margin-top: 50px;
}

.navbar-socmed {
  grid-area: navbar;
  display: grid;
  grid-auto-flow: column;
  border: 5px solid salmon;
  grid-template-columns: 2fr 1fr;
  grid-auto-flow: column;
}

.navbar {
  display: grid;
  grid-auto-flow: column;
  gap: 22px;
  border: 5px solid yellow;
}

.navbar a {
  text-decoration: none;
  color: var(--font-putih);
  font-weight: 700;
}

.socmed {
  display: grid;
  grid-auto-flow: column;
  gap: 22px;
  grid-area: socmed;
  border: 5px solid purple;
}