/* ================ Product ================== */
.product {
  grid-area: produk;
  display: grid;
  gap: 50px;
}

.title-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
