/* ================ Footer ================== */
.footer {
  display: grid;
  width: 100%;
  margin-top: 100px;
}

/* ================ Footer - Banner ================== */
.footer-banner {
  width: 100%;
  height: 100px;
  background-image: url(/bg-banner-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.banner-info {
  margin-left: 127px;
}

.banner-info h3 {
  color: var(--font-merah);
}

.banner-info p {
  font-size: 32px;
  font-weight: var(--bold);
}


/* ================ Footer - Contact ================== */
.footer-contact {
  width: 100%;
  height: 378px;
  background-image: url(/bg-footer.jpg);
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
}

.contact-info {
  display: grid;
  gap: 50px;
  justify-content: center;
  align-content: center;
}

.contact-info-main {
  color: var(--font-putih);
  display: grid;
  gap: 8px;
  justify-items: start;
  align-items: center;
}

.contact-info-main p:last-child {
  margin-top: 7px;
}

.contact-info-main a {
  color: var(--font-putih);
}

.contact-info-socmed {
  display: flex;
  gap: 22px;
  justify-content: start;
  align-items: center;
}

.contact-logo {
  display: grid;
  justify-items: center;
  align-items: center;
}