/* ================ Product - Potong ================== */
.product-potong {
  height: fit-content;
  width: 100%;
  background: url(/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  gap: 15px;
}

.potong {
  margin-top: 30px;
}

.title-section p {
  color: var(--font-black);
  font-size: 32px;
  font-weight: var(--bold);
}

.title-section h3 {
  color: var(--font-merah);
}

.cards-product-1 {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  gap: 22px;
  padding-bottom: 15px;
}

.cards-product-2 {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  padding-bottom: 15px;
}

.cards-product-3 {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  padding-bottom: 15px;
}

.card {
  width: 311px;
  height: 243px;
  background: var(--font-putih);
  border: 1px solid var(--font-putih);
  border-radius: 15px;
  display: grid;
}

.card-product {
  width: 274px;
  height: 136px;
  border: 1px solid var(--font-putih);
  border-radius: 15px;
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

.card-product-info {
  margin-left: 1rem;
}

.card-product-info p {
  margin: 5px auto;
}

.card-product-info p:first-child {
  font-size: 24px;
  font-weight: var(--medium);
}

.load-card {
  width: 450px;
  height: 250px;
  background-color: var(--font-abu);
  position: relative;
  border: 1px solid var(--font-abu);
  border-radius: 15px;
  margin-bottom: 15px;
}

.potong-1{
  position: relative;
  top: -86px;
  left: -18px;
  width: 308px;
}

.potong-2 {
  position: relative;
  top: -86px;
  left: -18px;
  width: 308px;
}